.header__link_author {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 15px;
  font-weight: 600;
  &:hover {
    & p {
      color: rgba(238, 230, 230, 1);
    }
    & span {
      color: rgba(255, 255, 255, 1);
    }
  }
  & p {
    transition: all 0.2s;
    color: rgba(238, 230, 230, 0.6);
    & span {
      transition: all 0.2s;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
