.tooltip {
  position: absolute;
  bottom: -108px;
  left: -5px;
  background-color: white;
  width: 140px;
  border-radius: 8px;
  padding: 10px 0px;
  border: 1px solid rgb(247, 247, 247);

  &__item {
    cursor: pointer;
    display: flex;
    padding: 10px 0 10px 18px;
    gap: 5px;
    &:hover {
      background-color: rgb(245, 240, 240);
    }
  }
}
